<section class="featuredlook">
    <a href="#"><div class="featuredbox">
        <h2>Featured Look</h2>
            <p>This outfit is so wicked cool. WHOA.</p>
    </div></a>
</section>

<section class="stream clearfix">
    <% @outfits.each do |outfit| %>
      <article class="femalelook">
          <%= link_to image_tag(outfit.photo.url (:large)), outfit %>
            <div class = "infoboxfemale">
                <h2><%= outfit.name %></h2>
                <p><%= outfit.description %></p>
            </div>
        </article>
    <% end %>
</section>
